---
humilis-kms:
    description:
        A dummy environment used for testing the kms plugin.

    layers:
        - layer: kms
          layer_type: kms
          key_admins:
            - user/german
            - user/arnaud
            - user/raam
            - user/test-travis
          key_users:
            - user/german
